# Dependency directory
node_modules/

# Environment variables and secrets
.env
.env.local
.env.*.local

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.nyc_output/
coverage/
.cache/
.eslintcache

# OS and editor files
.DS_Store
*.pem
Thumbs.db
.idea/
.vscode/
*.swp

*.local.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
